HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false
APP_KEY=ttMRqqF9PZAtFa62134hEVEwkr43bm6g
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=adonis_crud
SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt

CLOUDINARY_API_KEY=198964579165552
CLOUDINARY_API_SECRET=fEGR2KhSZr_JLa4pYppMReF84MI
CLOUDINARY_CLOUD_NAME=dqermfnde
